@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }
}

@layer utilities {
  .gpu-accelerated {
    transform: translateZ(0);
    will-change: transform;
  }
}
